body { font-family: system-ui; background: #f6f7fb; }
.entry {
  background: white;
  padding: 0.65rem 0.75rem;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  border-radius: 12px;
}

.tabs {
  margin-top: 1rem;
}

.tab-bar {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  border-bottom: 2px solid #ddd;
}

.tab-button {
  background: #f3f4f6;
  border: none;
  border-right: 1px solid #ddd;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  text-align: left;
}

.tab-button:hover {
  background: #e5e7eb;
}

.tab-button.active {
  background: white;
  border-bottom: 2px solid white;
  font-weight: 600;
}

.tab-title {
  font-size: 0.95rem;
}

.tab-keywords {
  font-size: 0.75rem;
  color: #6b7280;
}

.tab-content {
  display: none;
  padding: 1rem;
}

.tab-content.active {
  display: block;
}

.entry-title {
  margin: 0 0 0.15rem 0;
  font-size: 1rem;
  font-style: bold;
}

.entry-title a {
  color: #35673b;   
  text-decoration: none; /* remove underline if desired */
}

.entry-title a:hover {
  color: #08240b;   /* darker color on hover */
  text-decoration: underline; /* optional hover effect */
}


.entry-abstract {
  cursor: pointer;
  color: #000000;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0;

  /* one-line clamp */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Expanded state */
.entry-abstract.expanded {
  white-space: normal;
  overflow: visible;
}

.entry-abstract::before {
  content: " ⌄";
  color: #9ca3af;
}
.entry-abstract.expanded::before {
  content: " ⌃";
}


.entry-authors {
  cursor: pointer;
  color: #474849;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.1rem;  
  font-style: italic;

  /* one-line clamp */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Expanded state */
.entry-authors.expanded {
  white-space: normal;
  overflow: visible;
}

/* .entry-abstract::after {
  content: " ⌄";
  color: #9ca3af;
}
.entry-abstract.expanded::after {
  content: " ⌃";
} */

.day-header {
  position: sticky;
  top: 0;

  background: #e7e7ea;
  border-bottom: 1px solid #e5e7eb;

  padding: 0.4rem 0.75rem;
  font-weight: 600;
  font-size: 0.85rem;
  color: #374151;

  z-index: 5;
}
.day-section {
  border-top: 1px solid #e5e7eb;
}