<div class="tabs">
  <div class="tab-bar">
    {% for filter in filters %}
      <button
        class="tab-button {% if loop.first %}active{% endif %}"
        data-tab="tab-{{ loop.index0 }}"
      >
        <div class="tab-title">{{ filter.title }}</div>
        <div class="tab-keywords">
          {{ filter.keywords.title | join(", ") }}
        </div>
      </button>
    {% endfor %}
  </div>

  <div class="tab-contents">
    {% for filter in filters %}
      <section
        id="tab-{{ loop.index0 }}"
        class="tab-content {% if loop.first %}active{% endif %}"
      >
        {% include "filter_section.html" %}
      </section>
    {% endfor %}
  </div>
</div>
